.site-list {
  text-align: center;
  background-color: @white;
}

.site-list__item-wrapper {
  border-bottom: 1px solid @border-gray;
  padding-top: 22px;
  padding-bottom: 22px;
}

.site-list__item {
  color: @black;
  font-family: @oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  .link();
}
